nav {
	margin: 20px;
}

nav a {
	margin: 10px;
}

.main-container, .project-image, .project-detail {
	width: 100%;
	margin: inherit 0;
}

.project {
	margin-bottom: 2em;
}

.project-detail {
  margin-bottom: 10px;
}
